services:
  db:
    image: pgvector/pgvector:pg17
    container_name: spring_boot_postgres_db_with_vector
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: