spring:
  application:
    name: spring-ai

  datasource:
    url: jdbc:postgresql://localhost:5432/test
    username: username
    password: password

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: qwen3:4b
      embedding:
        options:
          model: nomic-embed-text

    vectorstore:
      pgvector:
        initialize-schema: true